.snippet.button
  padding 7px 15px
  background #0E7EBA + #444
  color #fff
  outline none
  border none
  border-radius 3px
  text-decoration none
  transition background 0.2s
  cursor pointer
  &:hover
    background #0E7EBA + #444 + #0a0a0a
  &:active
    relative top 2px
  i.fa
    margin-right 10px
  &.small
    padding 4px 10px

  &.gray
    background #e6e6e6
    color #666
