.masonry-brick
  .brick-container
    header.row
      h4.text-center {{item.name}}
    .row
      img(ng-src="{{item.pictures[0].imageUrl}}" width="200" height="200")
    .row.tags
      div.tag(ng-repeat="tag in item.tags" ng-click="filter(tag.name)")
        i.fa.fa-tag &nbsp;
        | {{tag.name}}

    .row.text-center
      a.buy.btn.btn-default.btn-link(ng-href="{{url}}" target="_blank") 購入する
