.container.gutters
  .row.h_1
    .col.span_12
      h1 Weekly stats
      #weekly_stats(style="height:300px")

  .row.h_2
    .col.span_4
      h1 Gender
      #gender(style="width:100%;height:400px")
    .col.span_4
      h1 Friends
      #friends(style="width:100%;height:400px")
    .col.span_4
      h1 Belongings
      #belongings(style = "width:100%;height:400px")


  .row.h_2
    .col.span_4
      h1 Tag Ranking
      #tag(style="width:100%;height:400px")
    .col.span_4
      h1 Impression Word
      #imp-words(style="width:100%;height:400px")
    .col.span_4
      h1 Frequent words
      #freq-ptns(style="width:100%;height:400px")

  .row.h_2(style="height:700px")
    .col.span_12
      h1 Coocurence Words Network
      //- button.button#toggle-layout Start layout
      button.button#restart-camera Restart Camera
      #sigma-container

  .row.h_1(style="height:500px")
    .col.span_12
      h1 Voice Ranking
      #voice-ranking(style="width:100%;height:400px")
