html
  font-family "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
  color #555
  *
    box-sizing border-box

  ul
    list-style-type none


.item-types
  margin-left 50px
select.form-control
  &:focus
    option
      color black
