doctype html
html(ng-app="goodsDbApp" ng-controller="AppCtrl")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible"  content="IE=edge")
    title Trunk
    meta(name="author" content="")
    meta(name="description" content="")
    link(rel="shortcut icon" href="favicon.ico")

    link(rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="components/bootstrap-material-design/dist/css/ripples.css")
    link(rel="stylesheet" href="components/bootstrap-material-design/dist/css/material-wfont.css")

    link(rel="stylesheet" href="css/main.css")

    script(src="components/jquery/dist/jquery.js")

    script(src="js/bundle.js")


  body
    block content

  script(src="components/bootstrap-material-design/scripts/material.js")
  script(src="components/bootstrap-material-design/scripts/ripples.js")

